apiVersion: 1

datasources:
  - name: MySQL
    type: mysql
    url: ${DB_HOST}:${DB_PORT}
    database: ${DB_NAME}
    user: ${DB_USER}
    secureJsonData:
      password: ${DB_PASS}
    editable: false
